In [26]:
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn import metrics
from sklearn.preprocessing import StandardScaler

from lifelines.utils import concordance_index

In [108]:

PATH = '../data/'
data = pd.read_csv('data_from_0010.csv').set_index('user_id')
train = pd.read_csv(PATH+'train.csv').set_index("user_id")

data.fillna(0, inplace=True)
data.drop('count_trans_date_max', axis=1,inplace=True)



data = data.join(train, on="user_id", how="left")
                 
data

,employee_count_nm,customer_age,count_trans_dates,msumm3,count_trans_transaction_amt_sum,mccc0,msumm4,mcc0,mcc12,mcc155,...,msump4,spc5,mcc34,mcc4,spc6,msump6,spc4,mcc110,target,time
user_id,,,,,,,,,,,,,,,,,,,,,
3,4.0,3,106,0.000000,13706.416641,7,0.000000,186108.229797,0.000000,0.000000,...,43075.747864,2,0.000000,0.000000,1,0.000000,3,0.000000,0.0,77.0
9,6.0,3,181,-13289.485764,-323434.666813,0,-104223.187939,0.000000,0.000000,0.000000,...,0.000000,9,0.000000,-1664.872650,23,0.000000,15,0.000000,NaN,NaN
13,5.0,2,168,-16394.193359,-124717.379150,0,-27095.248047,0.000000,31293.108643,0.000000,...,10952.112305,2,0.000000,0.000000,6,86198.161377,3,0.000000,0.0,86.0
37,6.0,2,179,-32719.820328,-331859.599463,2,-41364.700729,10738.788574,0.000000,-2251.359375,...,0.000000,67,0.000000,-126.869576,54,5251.647949,77,0.000000,0.0,89.0
41,4.0,2,153,-8045.445801,-108586.614166,0,-17708.008820,0.000000,0.000000,0.000000,...,0.000000,3,0.000000,0.000000,4,0.000000,4,0.000000,0.0,57.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562043,0.0,2,124,0.000000,-29581.256115,0,-142.056610,0.000000,0.000000,0.000000,...,0.000000,0,0.000000,0.000000,5,0.000000,1,0.000000,0.0,75.0
562205,0.0,1,179,-10452.779190,-40491.908630,30,-7546.495855,-10868.047920,0.000000,-1563.939163,...,0.000000,33,0.000000,-129.403091,20,0.000000,29,-49.125139,NaN,NaN
562312,0.0,0,158,0.000000,-18537.821270,0,-2644.634823,0.000000,0.000000,-6259.677155,...,0.000000,5,0.000000,-1372.377075,6,0.000000,10,0.000000,0.0,91.0
562721,0.0,2,175,-20904.990967,-164004.761685,19,-12082.776123,34391.163893,0.000000,0.000000,...,5607.572266,10,0.000000,0.000000,20,4826.499023,5,0.000000,0.0,29.0
562740,0.0,0,175,-31250.922503,-138793.235352,19,-36796.173475,22278.433403,0.000000,-19278.024796,...,467.072662,84,-129.660812,-2661.697159,83,11880.058105,107,0.000000,0.0,91.0

In [156]:
data_train = data[data['target'].notna()]
data_test = data[data['target'].isna()]

In [113]:

from sklearn.linear_model import LogisticRegression
X, y = data_train.iloc[:, :-2], data_train['target'] 
X = pd.DataFrame(data = StandardScaler().fit_transform(X),columns=X.columns)
clf = LogisticRegression(random_state=0,max_iter=100).fit(X, y)

log_reg_predictions = clf.predict_proba(X)[:,1]

fpr, tpr, thresholds = metrics.roc_curve(y, log_reg_predictions)
print('Log reg AUC = ',metrics.auc(fpr, tpr))


df_log_reg_importance = pd.DataFrame({'name': clf.feature_names_in_, 'imp':clf.coef_.flatten()}).sort_values(by='imp', ascending=False)

Log reg AUC =  0.7312713227730925

In [155]:
data_train

,employee_count_nm,customer_age,count_trans_dates,msumm3,count_trans_transaction_amt_sum,mccc0,msumm4,mcc0,mcc12,mcc155,...,msump4,spc5,mcc34,mcc4,spc6,msump6,spc4,mcc110,target,time
user_id,,,,,,,,,,,,,,,,,,,,,
3,4.0,3,106,0.000000,13706.416641,7,0.000000,186108.229797,0.000000,0.000000,...,43075.747864,2,0.000000,0.000000,1,0.000000,3,0.000000,0.2001,77.0
9,6.0,3,181,-13289.485764,-323434.666813,0,-104223.187939,0.000000,0.000000,0.000000,...,0.000000,9,0.000000,-1664.872650,23,0.000000,15,0.000000,0.2001,0.0
13,5.0,2,168,-16394.193359,-124717.379150,0,-27095.248047,0.000000,31293.108643,0.000000,...,10952.112305,2,0.000000,0.000000,6,86198.161377,3,0.000000,0.2001,86.0
37,6.0,2,179,-32719.820328,-331859.599463,2,-41364.700729,10738.788574,0.000000,-2251.359375,...,0.000000,67,0.000000,-126.869576,54,5251.647949,77,0.000000,0.2001,89.0
41,4.0,2,153,-8045.445801,-108586.614166,0,-17708.008820,0.000000,0.000000,0.000000,...,0.000000,3,0.000000,0.000000,4,0.000000,4,0.000000,0.2001,57.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562043,0.0,2,124,0.000000,-29581.256115,0,-142.056610,0.000000,0.000000,0.000000,...,0.000000,0,0.000000,0.000000,5,0.000000,1,0.000000,0.2001,75.0
562205,0.0,1,179,-10452.779190,-40491.908630,30,-7546.495855,-10868.047920,0.000000,-1563.939163,...,0.000000,33,0.000000,-129.403091,20,0.000000,29,-49.125139,0.2001,0.0
562312,0.0,0,158,0.000000,-18537.821270,0,-2644.634823,0.000000,0.000000,-6259.677155,...,0.000000,5,0.000000,-1372.377075,6,0.000000,10,0.000000,0.2001,91.0
562721,0.0,2,175,-20904.990967,-164004.761685,19,-12082.776123,34391.163893,0.000000,0.000000,...,5607.572266,10,0.000000,0.000000,20,4826.499023,5,0.000000,0.2001,29.0
562740,0.0,0,175,-31250.922503,-138793.235352,19,-36796.173475,22278.433403,0.000000,-19278.024796,...,467.072662,84,-129.660812,-2661.697159,83,11880.058105,107,0.000000,0.2001,91.0

In [176]:
from lifelines.fitters.weibull_aft_fitter import WeibullAFTFitter

wei = WeibullAFTFitter()

wei.fit(data_train, duration_col='time',  event_col='target')
survival_function = wei.predict_survival_function(data_train).T.mean(axis=1)

concordance_index(data_train['time'], survival_function, data_train['target'])

/home/andrey/.local/lib/python3.10/site-packages/lifelines/fitters/__init__.py:2097: StatisticalWarning: The diagonal of the variance_matrix_ has negative values. This could be a problem with WeibullAFTFitter's fit to the data.

It's advisable to not trust the variances reported, and to be suspicious of the fitted parameters too.

  warnings.warn(warning_text, exceptions.StatisticalWarning)

0.7391634766095461

In [175]:
from lifelines.fitters.log_logistic_aft_fitter import LogLogisticAFTFitter

logAFT = LogLogisticAFTFitter()

logAFT.fit(data_train, duration_col='time',  event_col='target')
survival_function = logAFT.predict_survival_function(data_train).T.mean(axis=1)

concordance_index(data_train['time'], survival_function, data_train['target'])

/home/andrey/.local/lib/python3.10/site-packages/lifelines/fitters/__init__.py:2097: StatisticalWarning: The diagonal of the variance_matrix_ has negative values. This could be a problem with LogLogisticAFTFitter's fit to the data.

It's advisable to not trust the variances reported, and to be suspicious of the fitted parameters too.

  warnings.warn(warning_text, exceptions.StatisticalWarning)

0.7419968682032831

In [177]:
from lifelines.fitters.log_normal_aft_fitter import LogNormalAFTFitter

normalAFT = LogLogisticAFTFitter()

normalAFT.fit(data_train, duration_col='time',  event_col='target')
survival_function = normalAFT.predict_survival_function(data_train).T.mean(axis=1)

concordance_index(data_train['time'], survival_function, data_train['target'])

/home/andrey/.local/lib/python3.10/site-packages/lifelines/fitters/__init__.py:2097: StatisticalWarning: The diagonal of the variance_matrix_ has negative values. This could be a problem with LogLogisticAFTFitter's fit to the data.

It's advisable to not trust the variances reported, and to be suspicious of the fitted parameters too.

  warnings.warn(warning_text, exceptions.StatisticalWarning)

0.7419968682032831

In [193]:
normalAFT.durations

user_id
3         77.0
13        86.0
37        89.0
41        57.0
42        84.0
          ...
561824    91.0
562043    75.0
562312    91.0
562721    29.0
562740    91.0
Name: time, Length: 64000, dtype: float64

In [90]:
vif0

7.849421233607985

In [14]:
from sklearn.manifold import TSNE

X = np.array(data.iloc[:20000, :-2])
X_embedded = TSNE(n_components=2, learning_rate='auto',
                  init='random', perplexity=3).fit_transform(X)


df = pd.DataFrame(data = X_embedded, columns=['x','y'] )
sns.scatterplot(x='x', y='y', data=df, hue=data['target'][:20000])

(20000, 2)